body
{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
	margin: 0 auto;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

td,
th
{
	font-weight: normal;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd)
{
	background: #dddddd;
}

.table
{
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}

a:link,
a:visited
{
	color: gray;
	text-decoration: none;
}

a:hover
{
	color: #ff0066;
	text-decoration: none;
}

ul
{
	background-color: #f5f5f5;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
	display: inline;
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h3
{
	text-align: center;
}

.main
{
	width: 50%;
	margin: 0 auto;
}

a:link.active
{
	color: #ff0066;
}

a:visited.active
{
	color: #ff0066;
}

a:hover.active
{
	color: gray;
}

#test
{
	background-color: white;
}

.find
{
	float:right;
}