body
{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
	width: 50%;
	margin: 0 auto;
}

table
{
	border-collapse: none;
	width: 100%;
}

td,
th
{
	font-weight: normal;
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

a:link
{
	color: gray;
	text-decoration: none;
}

a:hover
{
	text-shadow: 1px 1px white;
}

a:visited
{
	color: gray;
	text-decoration: none;
}

.table
{
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}
